*:focus {
    outline: none;
}
$lineSizes: (1, 2, 3, 4, 5);
@each $size in $lineSizes {
    .line-#{$size} {
        display: -webkit-box;
        -webkit-line-clamp: #{$size};
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

$mainColor: #646464;
$mainBackground: #fff;
$mainFontFamily: 'Helvetica Neue', 'Helvetica', Arial, sans-serif’;
$mainFontWeight: 300;
$mainLineHeight: 1.8;
$iconSize: 1rem;
$logoSize: 3rem;
$iconColor: rgba(255,165,0,.92);
$footerColor: #e1e1e1;
$productSummaryHeight: 180px;
$productDetailCoverHeight: 300px;
html, body{
    min-height: 100vh;
    min-width: 100vw;
    color: $mainColor;
    background-color: $mainBackground;
    font-weight: $mainFontWeight;
    font-family: $mainFontFamily;
    position: relative;
    font-size: 1rem;
    line-height: $mainLineHeight;
    cursor: default;
    transition: padding .25s;
}
.app---icon{
    height: $iconSize;
    width: $iconSize;
    fill:$iconColor;
}
.app---logo{
    height: $logoSize;
    width: $logoSize;
}
.app---cursor{
    cursor: pointer;
}

.flex-end{
    justify-content: flex-end;
}
.flex-start{
    justify-content: flex-start;
}
.scroller {
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}
.scroller::-webkit-scrollbar {
    width: 5px;
    height: 100px;
    border-radius: 10px;
}

.scroller::-webkit-scrollbar-track-piece  {
    
}

.scroller::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    
}
.scroller::-webkit-scrollbar-track  {
    
}

.scroller::-webkit-scrollbar-thumb {
    height: 30px;
    
}
.main-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    z-index: 1000;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.28);
}
.site-header {
    z-index: 501;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    will-change: transform;
    transition: transform .3s linear;
}
  .el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
  }
  
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
  }
  
  body > .el-container {
    margin-bottom: 40px;
  }
  
  .el-container:nth-child(5) .el-aside,
  .el-container:nth-child(6) .el-aside {
    line-height: 260px;
  }
  
  .el-container:nth-child(7) .el-aside {
    line-height: 320px;
  }
.site-footer {
    background-color: $footerColor;
}
.copyright-socials {
    margin-top: 2em;
    padding-top: 1.5em;
    background-color: #424242;
    color: #f5f5f5;
    text-align: center;
}
.socials {
    list-style: none;
    padding: 0;
    direction: ltr;
}
.socials>li {
    display: inline-block;
    vertical-align: top;
    margin: .25em;
}
.socials>li a {
    width: 24px;
    height: 24px;
    display: block;
    background-color: #646464;
    border-radius: 50%;
    color: #d2d2d2;
    text-align: center;
}
.icon-aparat:before {
    content: "\e98b";
}
.icon-linkedin:before {
    content: "\e98f";
}
.icon-instagram:before {
    content: "\e98e";
}
.site-footer__title {
    margin: 0 -15px 1em;
    padding: 5px 15px;
    font-size: 1.25em;
    display: block;
    font-weight: 700;
    color: #424242;
}
.site-footer__list {
    padding-right: 1em;
    margin: 0 0 1.5em;
    list-style: disc;
}
.site-footer__item {
    color: orange;
    font-size: .9em;
    font-weight: 300;
    line-height: 2;
}
.site-footer__item>a, .site-footer__item span {
    color: #646464;
    cursor: pointer;
}
.site-footer__logo {
    width: 210px;
    max-width: 200px;
    margin-bottom: 0.6em;
}
.contact-info {
    list-style: none;
    padding: 0;
    margin: 1em 0 0;
}
.contact-info__address, .contact-info__phone {
    font-size: .875em;
    color: #424242;
}
.contact-info__address, .contact-info__phone {
    font-size: .875em;
    color: #424242;
}
.signs-container .signs {
    list-style: none;
    padding: 0;
    margin: 1em 0 0;
    max-width: 280px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.signs-container .signs>li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    flex-shrink: 0;
    flex-basis: 87px;
    min-width: 87px;
    min-height: 87px;
    float: right;
    margin: 3px;
}
.signs-container .signs>li>img {
    width: 90%;
    height: 90%;
}
.clickable {
    cursor: pointer;
}
.site-footer .app-download {
    text-align: center;
    margin-bottom: 2.5em;
}
.site-footer .app-download__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.site-footer .app-download__link img {
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    border-radius: 5px;
}

.modal-card-head, .modal-card-foot{
    padding: 0.5rem;
}
.app---border-radius-circle{
    border-radius: 50%;
}
.app---border-radius-circle-important{
    border-radius: 50% !important;
}
.c---product-summary-image{
    height: $productSummaryHeight;
}
.c---product-detail-cover-image{
    max-height: $productDetailCoverHeight;
}
.c---product-summary .card-content{
    padding: 0;
}
.c---product-summary .media{
    margin-bottom: 0.5rem;
}
.c---product-summary .c---product-summary-image:hover{
    background: #646464;
}

.c---product-summary-overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.c---product-summary-card-image-overlay:hover .c---product-summary-image{
    opacity: 0.2;
}
.c---product-summary-card-image-overlay:hover .c---product-summary-overlay{
    opacity: 1.5;
}
.c---product-summary-overlay .app---icon{
    width: 1.5rem;
    height: 1.5rem;
}
.c---product-summary-overlay .app---love-inactive.app---icon {
    fill: #010101;
}
.c---product-summary-overlay .app---love-active.app---icon {
    fill: rgba(222, 84, 3, 0.92);;
}
.app---gallery .el-carousel__container{
    height: 400px;
}
.c---product-summary-overlay .app-sharing-network {
    color: rgba(222, 84, 3, 0.92);
    margin: 1px;
}
.app---product-detail .app-sharing-network {
    color: rgba(222, 84, 3, 0.92);
    margin: 5px;
    width: 2rem;
    height: 2rem;
}
.app---product-detail .app-sharing-network i{
    font-size: 1.5rem;
}
.app---product-detail .app---icon.app---love  {
    margin: 2px 5px;
    width: 1.5rem;
    height: 1.5rem;
}