*:focus {
    outline: none;
}

html, body{
    min-height: 100vh;
    min-width: 100vw;
    color:#646464;
    background-color: #fff;
    direction: rtl;
    font-weight: 300;
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif’;
    position: relative;
    font-size: 1rem;
    line-height: 1.8;
    cursor: default;
    transition: padding .25s;
}
.flex-end{
    justify-content: flex-end;
}
.flex-start{
    justify-content: flex-start;
}
.scroller {
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}
.scroller::-webkit-scrollbar {
    width: 5px;
    height: 100px;
    border-radius: 10px;
}

.scroller::-webkit-scrollbar-track-piece  {
    
}

.scroller::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    
}
.scroller::-webkit-scrollbar-track  {
    
}

.scroller::-webkit-scrollbar-thumb {
    height: 30px;
    
}